/* Estilos para el menú */
.menu {
  background-color: rgba(23, 39, 63, 1);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 20px; 
  height: 150px;
  transition: height 0.3s ease; 
}

/* Estilos para el logo y el icono del menú */
.logo-icon-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centrar horizontalmente */
  width: 45%; /* Ajustar el ancho del contenedor del logo y el icono */
}

.menu-icon {
  display: none;
}

/* Estilos para el logo */
.menu-logo {
  display: flex;
  width: 45%;
  height: auto;
  margin: 0;
  padding: 0;
}

.menu-logo img {
  width: 100%; 
  height: auto; 
  max-height: 100px; 
  padding: 35px; 
  object-fit: contain; 
}

.menu-icon img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

/* Estilos para los elementos del menú */
.menu-items {
  list-style: none;
  display: flex;
  align-items: center; 
  justify-content: center; 
  flex-grow: 1; 
}

.menu-items li {
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
}

.menu-items a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    height: auto;
  }

  .logo-icon-container {
    width: 70%;
    justify-content: center; /* Centrar horizontalmente */
  }

  .menu-logo img {
    width: 100%;
    padding: 20px;
    justify-content: center; /* Centrar horizontalmente */
  }

  .menu-icon {
    display: block;
    width: 30%;
    padding: 20px;
  }

  .menu-items {
    display: none;
    width: 100%;
    overflow: hidden;
    text-align: center; /* Centrar horizontalmente en dispositivos pequeños */
  }

  .menu-items.active {
    display: flex;
    flex-direction: column;
  }

  .menu-items li {
    margin: 10px 0; /* Ajustar el espacio entre los elementos del menú */
  }

  .menu-items a {
    color: white;
    font-weight: bold;
  }
}
