.div-menu {
  width: 100%;
  height: auto;
}

.menu-items.hidden {
  display: none;
}


.menu {
  background-color: rgba(23, 39, 63, 1);
  color: white;
  display: flex;
  align-items: center;
  position: static;
  top: 0;
  z-index: 1;
  overflow: hidden;
  height: 150px;
  transition: height 0.3s ease; /* Agregado para suavizar la transición de altura */
}

.logo-icon-container {
  display: flex;
  align-items: center;
}

.menu-logo {
  display: flex;
  width: 70%;
  height: auto;
  margin: 0;
  padding: 0;
}

.menu-logo img {
  width: 50%;
  height: auto;
  object-fit: contain;
  padding-left: 300px;
}

.menu-icon {
  display: none;
}

.menu-icon img {
  max-width: 10%;
  height: auto;
  cursor: pointer;
  margin-right: 20px;
}

.menu-items {
  list-style: none;
  justify-content: flex-end;
  padding-right: 200px;
  width: 50%;
  display: flex;
  overflow: hidden;
  transition: width 0.3s ease; /* Agregado para suavizar la transición de ancho */
}

.menu-items li {
  margin-right: 20px;
}

.menu-items a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .menu-logo {
    width: 70%;
    justify-content: start;
  }

  .menu-logo img {
    width: 100%;
    padding: 20px;
    justify-content: start;
  }

  .menu-icon {
    max-width: 30%;
    padding: 20px;
    display: block;
  }

  .menu-icon img {
    max-width: 20%;
    padding-left: 70px;
    display: block;
  }

  .menu-items {
    justify-content: center;
    padding: 0;
    display: block;
    width: 100%;
    overflow: hidden;
  }

  .menu-items li {
    width: 100%;
    align-items: center;
    padding: 8px;
  }

  .menu-btn.active + .menu-items {
    display: flex;
  }

  .menu-btn {
    display: inline-block;
  }
}
