.Link {
    font-weight: bold;
    color: black;
}

p {
    text-align: center;
}

select {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}

.MovieFormContainer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

.MovieForm {
    display: flex;
    flex: 0 0 48%;
    flex-direction: column;
    max-width: 500px;
    background-color: #242424;
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    color: #e6e6e6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho */
    justify-content: center; /* Centra el contenido horizontalmente */
    text-align: center;
}

.MovieForm form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.MovieForm label {
    margin-bottom: 5px;
    text-align: start;
    font-weight: bold;
}

.MovieForm input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}

.MovieForm button {
    padding: 10px 15px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.MovieForm button:hover {
    background-color: #0056b3;
}

.PreviewContainer {
    background-color: #242424;
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    color: #e6e6e6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    width: 100%; /* Ajusta el ancho de la tarjeta al 100% */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho */
    justify-content: center; /* Centra el contenido horizontalmente */
    text-align: center;
  }
  
  .PreviewContainer img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
    max-height: 610px;
    display: block;
    margin: 0 auto 20px;
  }

/* Añadí reglas de estilo para ajustar el margen en dispositivos móviles */
@media only screen and (max-width: 600px) {
    .MovieForm {
        margin-top: 50px;
        width: auto;
        margin-bottom: 50px;
    }
}