.Registro {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
   }
   
   .Registro h1 {
    text-align: center;
    margin-bottom: 20px;
   }
   
   .Registro form {
    display: flex;
    flex-direction: column;
   }
   
   .Registro input,
   .Registro select {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
   }
   
   .Registro button {
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    background-color: 007bff;
    color: #fff;
    border: none;
   }