.btn-cancelar{
  background-color: #D02222;
  padding: 8px;
}

.btn-ticket{
  background-color: #4bd022;
  padding: 8px;
}

.btn-editar{
  background-color: #D0B622;
  padding: 8px;
}

button {
  margin: 5px;
  border-radius: 5px;
}

.lista-reservas {
  padding-top: 100px;
  padding-bottom: 100px;
}

.lista-reservas h2 {
  padding-bottom: 50px;
  text-align: center;
}

.table-container {
  width: 80%;
  margin: 0 auto;
  overflow-x: auto; 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.reserva-table {
  width: 100%;
  border-collapse: collapse;
}

.reserva-table th, .reserva-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {
  .table-container {
    width: 90%;
    margin: 0 auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
  }

  .reserva-table th, .reserva-table td {
    font-size: 14px; 
  }
}
