.reserva h1 {
    font-size: 2em;
}

.reserva {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   
   .campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    width: 100%;
    max-width: 400px;
    font-size: 18px;
   }
   
   .campo select {
    font-size: 1em;
   }

   .campo input {
    font-size: 1em;
   }

   .campo label{
    font-weight: bold;
    font-size: 1.2em;
   }
   
   .resultado p {
    font-size: 1.5em;
    font-weight: bold;
    color: #4a4a4a;
   }